{% extends 'flatpages/default.html' %}

{% block title %}
<h3>News</h3>
{% end-block title %}

{% block content %}
   <h1>All news</h1>
   <h2>{{news|length}}</h2>
   <h3>{{time_published|date:'d M y'}}</h3>
   <h3>{{no_new|default_if_none:'No news'}}</h3>
   <hr>
   {% if news %}
      <table>
          <tr>
             <td>Title</td>
             <td>Date</td>
             <td>Preface</td>
          </tr>
         {% for news in news %}
         <tr>
            <td>{{ news.title }}</td>
             <td>{{ news.creationDate }}</td>
             <td>{{ news.content|truncatewords:20 }}</td>
         </tr>
          {% end for %}
      </table>
   {% else %}
      <h2>No news!</h2>
   {% endif %}
{% end-block content %}